.menu[data-fixed] {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 25px;
}

.menu-panel {
  position: fixed;
  display: grid;
  inset: 0;
  z-index: 5;
  background: var(--backdrop-bg);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(4px);
  place-items: center;
}

.menu-panel-options {
  margin: 0 auto;
  transform: rotate(-8deg);
}

.menu-panel-options button {
  font-size: 7.5dvh;
  padding: 0;
  text-shadow: var(--action-button-shadow);
  color: var(--action-button-color);
}

.menu-button {
  position: relative;
  z-index: 100;
  padding: 15px 8px;
  --line-pos: calc(min(18vw, 120px) + env(safe-area-inset-left));
  width: var(--line-pos);
}

.menu-button-text {
  width: 25px;
  height: 4px;
  background: currentColor;
  position: relative;
  transition: all 0.2s ease-out;
  cursor: pointer;
  margin: 0 auto;
}

.menu-button-text::before,
.menu-button-text::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 4px;
  background: currentColor;
  transition: all 0.2s ease-out;
  left: 0;
}

.menu-button-text::before {
  transform: translate3d(0, -8px, 0);
}

.menu-button-text::after {
  /*top: 8px;*/
  transform: translate3d(0, 8px, 0);
}

[data-active] .menu-button-text {
  background: transparent;
}

[data-active] .menu-button-text::before {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

[data-active] .menu-button-text::after {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

[data-active] .menu-button-text::before,
[data-active] .menu-button-text::after {
  background: currentColor;
}
