.dialog {
  position: fixed;
  inset: var(--inset);
  z-index: 50;
  margin: auto;
  display: flex;
  height: fit-content;
  max-height: calc(100dvh - var(--inset) * 2);
  flex-direction: column;
  gap: 2rem;
  overflow: auto;
  border-radius: 0.75rem;
  background-color: var(--main-bg);
  padding: 2rem;
  color: black;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --inset: 0.75rem;
  font-size: 1.5rem;
  font-family: Jua;
}

@media (min-width: 640px) {
  .dialog {
    top: 10vh;
    bottom: 10vh;
    margin-top: 0px;
    max-height: 80vh;
    width: 420px;
    border-radius: 1rem;
    padding: 2.5rem;
  }
}

[data-backdrop] {
  background-color: var(--backdrop-bg);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(4px);
  opacity: 1;
}

.dialog-heading {
  margin: 0px;
  font-size: 2rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--title-color);
}
