button {
  border-radius: 8px;
  padding: 0.3em 1.2em;
  font-size: 1.8rem;
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
  font-family: Bangers;
  color: inherit;
}

button:focus {
  outline: none;
}

.main-button {
  font-size: 7dvh;
  padding: 0.1em 0.8em;
  text-shadow: var(--action-button-shadow);
  color: var(--main-button-color);
}

.action-button {
  font-size: 7.5dvh;
  text-shadow: var(--action-button-shadow);
  color: var(--action-button-color);
}

.destructive-button {
  color: #fd3535;
}

@media (prefers-color-scheme: light) {
  .destructive-button {
    color: #c42727;
  }
}

.cancel-button {
  color: var(--light-text-color);
}
