.paper-input {
  background: none;
  border: none;
  font-size: inherit;
  outline: none;
  display: inline-block;
  font-family: inherit;
  width: 100%;
}

.paper-input-text {
  outline: none;
}

.paper-input-placeholder {
  position: absolute;
  left: 0;
  z-index: -1;
}

.hidden-input-span {
  visibility: hidden !important;
  position: absolute !important;
  white-space: pre;
}

[data-negative]::after {
  content: '-';
  position: absolute;
  left: .5em;
}

.inline-input input {
  width: 100%;
}

.input-error-message {
  background: hsla(0 0 0 / .40);
  position: absolute;
  right: 0;
  border-radius: 10px;
  width: 100vw;
}

[data-message]::before {
  content: attr(data-message);
  display: block;
}


label {
  cursor: pointer;
  width: 100%;
}
