.paper-page {
  --line-pos: calc(min(18vw, 120px) + env(safe-area-inset-left));
  --line-space: 24px;
  --line-color: rgba(255 255 255 / 0.2);
  --winner-color: hsla(139 78.4% 54.5% / 0.62);
  --winner-border: hsla(139 78.4% 54.5% / 0.82);
}

@media (prefers-color-scheme: light) {
  .paper-page {
    --line-color: rgba(0 0 0 / 0.2);
    --winner-color: hsla(139 98.4% 54.5% / 0.62);
    --winner-border: hsla(139 98.4% 54.5% / 0.82);
  }
}

.paper-page::before {
  content: '';
  position: fixed;
  height: 150vh;
  top: 0;
  left: var(--line-pos);
  bottom: 0;
  width: 0;
  border-left: 3px solid #00b2df;
  z-index: -1;
}

.paper-line {
  font-family: Jua, serif;
  display: grid;
  grid-template-columns: var(--line-pos) 1fr;
  border-bottom: 1px solid var(--line-color);
  align-items: center;
  min-height: 72px;
}

.paper-line:first-child {
  border-bottom: 3px solid var(--text-color);
  font-family: Bangers;
}

.paper-line:focus-within {
  background-color: hsla(201 78.4% 54.5% / 0.32);
  border-bottom: solid 4px hsla(201 78.4% 54.5% / 0.82);
  margin: 0 0 -3px;
  padding-top: 1px;
}

.round-winner,
.round-winner:focus-within {
  background-color: var(--winner-color);
  border-bottom-color: var(--winner-border)
}

.round-winner:focus-within {
  border-bottom-width: 1px;
  margin: 0;
}

.paper-line[data-line=none] {
  border-bottom: none;
}

.paper-row {
  font-size: 1.7em;
}

.paper-line button:first-child {
  min-height: 70px;
}

.paper-text-button {
  padding: 10px var(--line-space);
  background: none;
  width: 100%;
  font-size: inherit;
  font-family: 'Jua', serif;
  text-align: left;
  color: inherit;
  opacity: 0.1;
}

.paper-page .action-button {
  padding-left: calc(var(--line-pos) + var(--line-space));
  text-align: left;
}

.paper-button {
  color: inherit;
  font-size: inherit;
  padding: 0;
  font-family: 'Jua', serif;
}
