.paper-line {
  font-family: Bangers;
  display: grid;
  grid-template-columns: 17vw 1fr;
  border-bottom: 1px solid rgba(255 255 255 / 0.2);
  align-items: center;
}

.paper-line:first-child {
  border-bottom: 3px solid rgba(255 255 255 / 0.7);
}

.paper-line:focus-within {
  background-color: #00b2df47;
}

.round-winner,
.round-winner:focus-within {
  background-color: #00df1347;
}

.paper-row {
  padding-left: 3px;
  font-size: 2em;
}

.paper-page {
  min-height: 100dvh;
}

.paper-page::before {
  content: '';
  position: fixed;
  height: 100vh;
  top: 0;
  left: 17vw;
  bottom: 0;
  z-index: -1;
  border-left: 3px solid #00b2dfa0;
}

.paper-input {
  font-family: Bangers;
  width: calc(100% - 3px);
  background: none;
  border: none;
  font-size: inherit;
  padding: 10px 24px;
  outline: none;
}

.paper-text-button {
  padding: 10px 24px;
  background: none;
  border: none;
  width: 100%;
  font-size: inherit;
  text-align: left;
  color: inherit;
  opacity: 0.1;
}

.paper-button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  padding: 5px;
}

.paper-button:focus {
  outline: none;
}

fieldset {
  border: none;
  padding: 10px 0px 10px 24px;
}

input[type=number] {
  text-align: right;
  letter-spacing: 1.5px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
