@keyframes zoom-in {
  0% {
    opacity: 0;
  }

  1% {
    transform: scale(0.1) translate3d(20vw, 30vh, 0);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes space-in {
  0% {
    opacity: 0;
    transform: translateZ(0) scale(0) rotate(-30deg);
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateZ(0) scale(1) rotate(0deg);
  }
}

.main-title {
  will-change: transform;
  transform-box: fill-box;
  font-family: 'Bangers';
  overflow: visible;
  margin: 0 auto;
  max-width: 1000px;
  transform: translate3d(-1vw, 6vh, 0) rotate(-8deg);
  /* Force GPU acceleration */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-shadow: .18em .18em var(--title-shadow);
  color: var(--title-color);

  /* Prevent blurry text */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-title text {
  transform-origin: center;
}

.main-title-intro {
  opacity: 0;
  animation: space-in 0.4s ease forwards;
}

.main-title-name {
  opacity: 0;
  animation: space-in 0.4s ease forwards;
  animation-delay: .4s;
}

.main-title-quote {
  opacity: 0;
  animation: zoom-in 0.4s ease forwards;
  animation-delay: 1.4s;
}

.round-title {
  font-family: 'Bangers';
  max-width: 1000px;
  transform: translateX(-2.5vw) rotate(-8deg);
  text-shadow: .18em .18em var(--title-shadow);
  color: var(--title-color);
}

.round-title .round,
.round-title .dealer {
  color: var(--action-button-color);
}
